.pot {
	bottom: 47%;
	position: absolute;
	-webkit-animation: linear infinite;
	-webkit-animation-name: run;
}

@-webkit-keyframes run {
	0% {
		left: 0;
	}

	50% {
		left: calc(100% - 100px);
	}

	100% {
		left: 0;
	}
}

.animationWrapper {
	width: 100vw;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.red {
	width: 2.5em;
	height: 2.5em;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50%;
	background-color: #fff;
}

.green {
	background-color: #31FFA6;
}

.blue {
	background-color: #206EFF;
}

.yellow {
	background-color: #FFFF99;
}